.App {
  text-align: center;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#input {
  height: 25px;
  width: 200px;
  margin-right: 10px;
}

.add-task {
  height: 32px;
  background-color: lightgreen;
}

hr {
  width: 90vw;
  margin: 30px 0;
}

ul {
  list-style: none;
}

.btnDelete {
  background-color: rgb(255, 112, 112);
}

.checked {
  text-decoration: line-through;
}

.todo {
  padding: 15px;
}
